{% extends "bootstrap/base.html" %}
{% block title %}Uscloud{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">

    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
        <div class="btn btn-success" data‐toggle="modal" data‐target="#myModal">+AddHost</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>ip</th>
                    <th>name</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in host_list %}
                <tr>
                    <th>{{ item.id }}</th>
                    <th>{{ item.ip }}</th>
                    <th>{{ item.name }}</th>
                    <th>{{ item.status_code }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}